.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: #1e3746;
  background-color: #fedc31;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
}
.sectionContainer {
  height: calc(100vh - 60px);
  background-color: #fedc31;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input {
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  height: 36px;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.mainContainer {
  object-fit: cover;
  height: 380px;
  min-height: 380px;
  display: flex;
}
.mainContainer div {
  flex: 1;
}
.mainContainer img {
  height: 100%;
}
.instruction {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  justify-content: flex-start;
}

.footerContainer {
  background-image: linear-gradient(-135deg, #2f94da, #2485c8);
  color: white;
  font-size: 20px;
  display: flex;
  padding: 24px;
  text-align: left;
}
.footerContainer .aboutUs {
  flex: 3;
}
.footerContainer .linksSection {
  flex: 2;
}
.label {
  font-weight: 700;
}
