html,
body {
  height: 100%;
}
#root {
  min-height: 100%;
  background-color: #fedc31;
}
.App {
  text-align: center;
  min-height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  color: #1e3746;
  background-color: #fedc31;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 700;
  padding: 8px 16px;
}
.sectionContainer {
  background-color: #fedc31;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
input {
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  height: 36px;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #cccccc;
  box-sizing: border-box;
  border-radius: 5px;
}
.mainContainer {
  object-fit: cover;
  height: 380px;
  min-height: 380px;
  display: flex;
}
.mainContainer div {
  flex: 1;
}
.mainContainer img {
  height: 100%;
}
.instruction {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  justify-content: flex-start;
}

.footerContainer {
  background-color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;

  padding: 20px;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .footerContainer {
    position: absolute;
    bottom: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .footerContainer {
    position: absolute;
    bottom: 0;
  }
}
.footerContainer .aboutUs {
  flex: 3;
}
.footerContainer .linksSection {
  flex: 2;
}
.label {
  font-weight: 700;
}

p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
}

.footerTag {
  font-size: 12px;
}
